<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tela de Login</title>
    <link rel="stylesheet" th:href="@{/static/css/login/index.css}" type="text/css">
</head>
<body>
    <div class="login-area">
        <div class="login-box">
            <div th:if="${param.error != null}">
                <div th:if="${param.error[0] == 'true'}">
                    <p>Login Invalido</p>
                </div>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="input-area">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="input-area">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>